*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 960px;
    margin: 0 auto; 
    perspective: 1200px;
}

.hexaprism {
    --xRotation: 0;
    position: relative;
    margin: 100px auto 0;
    width: 614px;
    height: 400px;
    transform-style: preserve-3d;
    clear: both;
    transform: rotateX( calc(var(--xRotation) * 1deg))

}
.controls {
    position: absolute;
    margin-top: 200px;
    width: 100%;
}
.controls span {
    cursor: pointer;
    opacity: 0.2;
}

.controls span:hover {
    opacity: 1;
}
.controls #animate-left {
    margin-left: 20px;
}

.controls #animate-right {
    float: right;
}

.hexaprism.threeD section {
    perspective: none !important;
}

.hexaprism.threeD section figure {
    backface-visibility: visible !important;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}