*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 960px;
    margin: 0 auto; 
}

.hexaprism {
    position: relative;
    margin-top: 100px;
    width: 614px;
    height: 400px;
    transform-style: preserve-3d;
}
